@{
}

<h2>About The Project.</h2>
<p>
    This is a movie site that has a special section for genres and a section for movies themselves that includes the genre. It is a page for the admin and a page for viewing movies, with a maximum display of 5 movies on one page, then moving from one page to another. It has a button for searching and basic operations such as adding, modifying, and deleting.


    <br />
    Many technologies were used in this project, such as: Asp.Net Core MVC, EntityFramWork, SQLServer.
</p>

